# 数据探索-对比数据集

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
path_raw = '../../data/new/train=all/'
path_train = '../../data/new/train=all-class/'
path_test = '../../data/new/test/'
time_col = 'register_time'
path_doc = '../../doc/'

target = 'prediction_pay_price'
user_id = 'user_id'

## 指定读取数据类型，节省内存

In [3]:
col_int32 = ['user_id', 'register_time', 'wood_add_value', 'wood_reduce_value',
       'stone_add_value', 'stone_reduce_value', 'ivory_add_value',
       'ivory_reduce_value', 'meat_add_value', 'meat_reduce_value',
       'magic_add_value', 'magic_reduce_value', 'infantry_add_value',
       'infantry_reduce_value', 'cavalry_add_value', 'cavalry_reduce_value',
       'shaman_add_value', 'shaman_reduce_value', 'wound_infantry_add_value',
       'wound_infantry_reduce_value', 'wound_cavalry_add_value',
       'wound_cavalry_reduce_value', 'wound_shaman_add_value',
       'wound_shaman_reduce_value', 'general_acceleration_add_value',
       'general_acceleration_reduce_value', 'building_acceleration_add_value',
       'building_acceleration_reduce_value', 'reaserch_acceleration_add_value',
       'reaserch_acceleration_reduce_value', 'training_acceleration_add_value',
       'training_acceleration_reduce_value', 'treatment_acceleraion_add_value',
       'treatment_acceleration_reduce_value', 'bd_training_hut_level',
       'bd_healing_lodge_level', 'bd_stronghold_level',
       'bd_outpost_portal_level', 'bd_barrack_level',
       'bd_healing_spring_level', 'bd_dolmen_level', 'bd_guest_cavern_level',
       'bd_warehouse_level', 'bd_watchtower_level', 'bd_magic_coin_tree_level',
       'bd_hall_of_war_level', 'bd_market_level', 'bd_hero_gacha_level',
       'bd_hero_strengthen_level', 'bd_hero_pve_level', 'sr_scout_level', 
       'sr_training_speed_level', 'sr_infantry_tier_2_level',
       'sr_cavalry_tier_2_level', 'sr_shaman_tier_2_level',
       'sr_infantry_atk_level', 'sr_cavalry_atk_level', 'sr_shaman_atk_level',
       'sr_infantry_tier_3_level', 'sr_cavalry_tier_3_level',
       'sr_shaman_tier_3_level', 'sr_troop_defense_level',
       'sr_infantry_def_level', 'sr_cavalry_def_level', 'sr_shaman_def_level',
       'sr_infantry_hp_level', 'sr_cavalry_hp_level', 'sr_shaman_hp_level',
       'sr_infantry_tier_4_level', 'sr_cavalry_tier_4_level',
       'sr_shaman_tier_4_level', 'sr_troop_attack_level',
       'sr_construction_speed_level', 'sr_hide_storage_level',
       'sr_troop_consumption_level', 'sr_rss_a_prod_levell',
       'sr_rss_b_prod_level', 'sr_rss_c_prod_level', 'sr_rss_d_prod_level',
       'sr_rss_a_gather_level', 'sr_rss_b_gather_level',
       'sr_rss_c_gather_level', 'sr_rss_d_gather_level', 'sr_troop_load_level',
       'sr_rss_e_gather_level', 'sr_rss_e_prod_level',
       'sr_outpost_durability_level', 'sr_outpost_tier_2_level',
       'sr_healing_space_level', 'sr_gathering_hunter_buff_level',
       'sr_healing_speed_level', 'sr_outpost_tier_3_level',
       'sr_alliance_march_speed_level', 'sr_pvp_march_speed_level',
       'sr_gathering_march_speed_level', 'sr_outpost_tier_4_level',
       'sr_guest_troop_capacity_level', 'sr_march_size_level',
       'sr_rss_help_bonus_level', 'pvp_battle_count', 'pvp_lanch_count',
       'pvp_win_count', 'pve_battle_count', 'pve_lanch_count', 'pve_win_count',
       'pay_count']
col_float32 = ['avg_online_minutes', 'pay_price']

In [4]:
# 指定读取数据类型，节省内存
dtype_test = {}
for col in col_int32:
    dtype_test[col] = np.int32
for col in col_float32:
    dtype_test[col] = np.float32
# dtype_test

In [5]:
dtype_train = dtype_test.copy()
dtype_train[target] = np.float32
# dtype_train

## 1. 全部数据

In [6]:
train = pd.read_csv(path_raw + 'train=fe.csv', dtype=dtype_train)
train.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1,128,20125,3700,0,0,0,0,16375,2000,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,1593,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,1594,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,1595,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,1596,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [7]:
train_mean = pd.DataFrame(train.mean())
train_mean.to_csv(path_doc + 'train_mean_all.csv')
train_mean.head()

                              0
user_id            1.529543e+06
register_time      1.176103e+02
wood_add_value     4.543069e+05
wood_reduce_value  3.698433e+05
stone_add_value    1.897788e+05

In [8]:
test = pd.read_csv(path_test + 'tap_fun_test-fe.csv', dtype=dtype_train)
test.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
0,14933,94,166415,138362,0,0,0,0,258522,90142,...,0,0,0,0,1,1,1,8.000000,0.0,0
1,14934,94,10000,600,0,0,0,0,10000,400,...,0,0,0,0,0,0,0,0.166667,0.0,0
2,14935,94,10000,3700,0,0,0,0,10000,2000,...,0,0,0,0,0,0,0,17.000000,0.0,0
3,14936,94,210000,0,200000,0,200000,0,610000,0,...,0,0,0,0,0,0,0,1.666667,0.0,0
4,14937,94,11500,3700,0,0,0,0,11000,2000,...,0,0,0,0,0,0,0,0.333333,0.0,0

In [9]:
test_mean = pd.DataFrame(test.mean())
test_mean.to_csv(path_doc + 'test_mean_all.csv')
test_mean.head()

                              0
user_id            1.811513e+06
register_time      8.868315e+01
wood_add_value     6.036094e+05
wood_reduce_value  4.954049e+05
stone_add_value    2.664795e+05

## 2. 不付费数据

In [10]:
train = pd.read_csv(path_train + 'train-7nopay.csv', dtype=dtype_train)
train.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1,128,20125,3700,0,0,0,0,16375,2000,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,1593,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,1594,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,1595,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,1596,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [11]:
train_mean = pd.DataFrame(train.mean())
train_mean.to_csv(path_doc + 'train_mean_pay.csv')
train_mean.head()

                              0
user_id            1.529758e+06
register_time      1.176042e+02
wood_add_value     2.650844e+05
wood_reduce_value  2.108998e+05
stone_add_value    5.094843e+04

In [12]:
test = pd.read_csv(path_test + 'test-7nopay.csv', dtype=dtype_train)
test.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
0,14933,94,166415,138362,0,0,0,0,258522,90142,...,0,0,0,0,1,1,1,8.000000,0.0,0
1,14934,94,10000,600,0,0,0,0,10000,400,...,0,0,0,0,0,0,0,0.166667,0.0,0
2,14935,94,10000,3700,0,0,0,0,10000,2000,...,0,0,0,0,0,0,0,17.000000,0.0,0
3,14936,94,210000,0,200000,0,200000,0,610000,0,...,0,0,0,0,0,0,0,1.666667,0.0,0
4,14937,94,11500,3700,0,0,0,0,11000,2000,...,0,0,0,0,0,0,0,0.333333,0.0,0

In [13]:
test_mean = pd.DataFrame(test.mean())
test_mean.to_csv(path_doc + 'test_mean_pay.csv')
test_mean.head()

                              0
user_id            1.811418e+06
register_time      8.870400e+01
wood_add_value     3.352931e+05
wood_reduce_value  2.704844e+05
stone_add_value    7.153204e+04

## 2. 付费数据

In [14]:
train = pd.read_csv(path_train + 'train-7pay.csv', dtype=dtype_train)
train.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1617,136,30000,97200,20000,0,0,0,160500,80392,...,0,0,0,0,0,0,44.666668,0.99,1,0.99
1,1632,136,1111744,1137687,491331,790208,77000,0,1457249,708483,...,1,1,1,6,6,6,199.333328,2.97,3,4.96
2,1639,136,249050,173248,70841,117012,55000,0,206366,82205,...,0,0,0,0,0,0,109.333336,12.97,3,12.97
3,1678,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,127.833336,0.99,1,0.99
4,1711,136,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,203.166672,0.99,1,0.99

In [15]:
train_mean = pd.DataFrame(train.mean())
train_mean.to_csv(path_doc + 'train_mean_nopay.csv')
train_mean.head()

                              0
user_id            1.517923e+06
register_time      1.179393e+02
wood_add_value     1.071278e+07
wood_reduce_value  8.986778e+06
stone_add_value    7.716307e+06

In [16]:
test = pd.read_csv(path_test + 'test-7pay.csv', dtype=dtype_train)
test.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
0,14952,94,3838322,2859288,1041000,0,504000,0,6898146,4297996,...,0,4,4,4,4,4,3,27.166668,0.99,1
1,15029,94,2353190,1286349,1000000,0,609000,0,3216753,513123,...,0,2,0,0,5,5,5,19.500000,0.99,1
2,15059,94,6058137,3960541,5040000,2520000,2109000,0,14586512,7910807,...,0,0,0,0,11,11,9,13.833333,5.98,2
3,15064,94,2958155,2350347,1364518,407296,600000,0,5895581,3241016,...,0,2,1,0,2,2,2,13.000000,0.99,1
4,15102,94,1080008,19659,1000000,0,500000,0,2303911,13076,...,0,0,0,0,1,1,1,2.166667,0.99,1

In [17]:
test_mean = pd.DataFrame(test.mean())
test_mean.to_csv(path_doc + 'test_mean_nopay.csv')
test_mean.head()

                              0
user_id            1.815427e+06
register_time      8.781999e+01
wood_add_value     1.171268e+07
wood_reduce_value  9.807764e+06
stone_add_value    8.337869e+06